<%- include(locals.rootPath + '/views/templates/header') %>
<div class="jumbotron text-center">
    <h1>Authentification</h1>
    <h2><span class="fa fa-lock"></span> Authentification</h2>

    <!-- show any messages that come back with authentication -->
    <% if(typeof(error) != 'undefined' && error.length > 0) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(typeof(success) != 'undefined' && success.length > 0) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>

    <p>Se connecter ou s'enregistrer avec :</p>
    <div class="login">
        <a href="/auth/login" class="btn btn-default local-login"><span class="fa fa-user"></span> Connexion Locale</a>
        <a href="/auth/signin" class="btn btn-default local-signup"><span class="fa fa-user"></span> Inscription Locale</a>
    </div>
    <hr />
    <div class="login">
        <a href="/auth/github" class="btn btn-primary github"><span class="fa fa-github"></span> Connexion GitHub</a>
    </div>
</div>
<%- include(locals.rootPath + '/views/templates/footer') %>