<%- include(locals.rootPath + '/views/templates/header') %>
<div class="col-sm-6">
    <div class="well">
        <% if(typeof(errorMessage) != 'undefined' && errorMessage.length > 0) { %>
            <div class="alert alert-danger"><%= errorMessage %></div>
        <% } else if(typeof(successMessage) != 'undefined' && successMessage.length > 0) { %>
                <div class="alert alert-success"><%= successMessage %></div>
            <% } %>
            <h1>Page de profil</h1>
            <h2 class="text"><span class="fa fa-user"></span> Profil</h2>
            <p>
                <strong>Email</strong> : <%= user._email %><br>
                <strong>Prenom</strong> : <%= user._firstname %><br>
                <strong>Nom</strong> : <%= user._name %><br>
                <strong>Identifiant</strong> : <%= user._login %><br>
            </p>
    </div>
    <div class="text-right">
        <a class="btn btn-info" href="/game/">Jouer</a>
    </div>
</div>
<%- include(locals.rootPath + '/views/templates/footer') %>