<%- include(locals.rootPath + '/views/templates/header') %>
<div class="well">
    <h1>Page de connexion</h1>
    <h2><span class="fa fa-sign-in"></span> Page de connexion</h2>

    <% if(typeof(errorMessage) != 'undefined' && errorMessage.length > 0) { %>
        <div class="alert alert-danger"><%= errorMessage %></div>
    <% } %>
    <% if(typeof(successMessage) != 'undefined' && successMessage.length > 0) { %>
        <div class="alert alert-success"><%= successMessage %></div>
    <% } %>

    <form action="/auth/checkLogin" method="post" class="form-example">
        <div class="form-group">
            <label for="login">Login : </label>
            <input type="text" name="_login" id="login" class="form-control" required >
        </div>
        <div class="form-group">
            <label for="pwd">Password : </label>
            <input type="password" name="_pwd" id="pwd" class="form-control" required >
        </div>
        <div class="text-center form-group">
            <input class="btn btn-info" type="submit" value="Connexion locale">
        </div>
    </form>
    <hr />
    <p><a class="btn btn-success" href="/auth/github">Connexion via Github</a></p>
    <p>Pas encore de compte ? <a href="/auth/signin">Inscrivez-vous !</a></p>
    <p>Retourner à l'<a href="/index">Accueil</a></p>
</div>
<%- include(locals.rootPath + '/views/templates/footer') %>