<%- include(locals.rootPath + '/views/templates/header') %>

<div class="table-responsive well">
    <table class="table table-over ">
        <% for(let game of list) { %>

                <tr class="game">
                    <td><a href="/game/<%= game._access %>"><img src="<%= game._logo %>" /></a></td>
                    <td><a href="/game/<%= game._access %>"><%= game._name %></a></td>
                    <% if (game._points) { %>
                        <td><%= game._points %></td>
                    <% } %>
                </tr>

        <% } %>
    </table>
    <a class="btn btn-info" href="/game/<%= user._login %>/scores">Votre tableau des scores</a>
</div>
<%- include(locals.rootPath + '/views/templates/footer') %>