<%- include(locals.rootPath + '/views/templates/header') %>
<figure>
    <img src="/images/bandeau.png" alt="GameMaster" title="GameMaster" />
</figure>
<%- include(locals.rootPath + '/views/templates/footer') %>
