<%- include(locals.rootPath + '/views/templates/header') %>
<div class="well">
    <h1>Inscription</h1>
    <h2><span class="fa fa-sign-in"></span> Inscription</h2>

    <!-- show any messages that come back with authentication -->
    <% if(typeof(errorMessage) != 'undefined' && errorMessage.length > 0) { %>
        <div class="alert alert-danger"><%= errorMessage %></div>
    <% } %>
    <% if(typeof(successMessage) != 'undefined' && successMessage.length > 0) { %>
        <div class="alert alert-success"><%= successMessage %></div>
    <% } %>


<form action="/auth/register" method="post">
    <div class="form-group">
        <label for="name">Name : </label>
        <input type="text" name="_name" id="name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="firstname">FirstName : </label>
        <input type="text" name="_firstname" id="firstname" class="form-control" required >
    </div>
    <div class="form-group">
        <label for="login">Login : </label>
        <input type="text" name="_login" id="login" class="form-control" required >
    </div>
    <div class="form-group">
        <label for="pwd">Password : </label>
        <input type="password" name="_pwd" class="form-control" id="pwd" required >
    </div>
    <div class="form-group">
        <label for="email">E-mail : </label>
        <input type="email" name="_email" class="form-control" id="email" required>
    </div>

    <div class="form-group text-center">
        <input type="submit" class="btn btn-warning" value="S'inscrire">
    </div>
</form>
    <hr>
    <p>Vous avez déjà un compte ? <a href="/auth/login">Connectez-vous !</a></p>
</div>
<%- include(locals.rootPath + '/views/templates/footer') %>