<%- include(locals.rootPath + '/views/templates/header') %>
<div class="table-responsive well">
    <table class="table table-over ">
        <% for(let score of scores) { %>
            <tr class="game">
                <td><%=score._gameId%></td>
                <td><%= score._points %></td>
            </tr>
        <% } %>
    </table>
    <a class="btn btn-info" href="/game/scores">Voir les scores mondiaux !</a>
</div>
<%- include(locals.rootPath + '/views/templates/footer') %>