body {
    background-color:#CCC;
}

.selections {
    display:flex;
    justify-content: center;
}
.results {
    max-width:60%;
    margin: 0 auto;
}
.selection {
    background:none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size:5rem;
    transition:100ms;
}

.selection:hover {
    transform:scale(1.2);
}

.results {
    margin-top:1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}

.result-score {
    margin-left: .1rem;
    font-size: .7rem;
    color:#333;
}

.result-selection {
    opacity: .5;
}

.result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
}