html {
    height: 100%;
    font-size: calc(16px + 0.5vw);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    word-wrap: break-word;

    display: flex;
    flex-direction: column;
    background-color:#AAA;
}

*, *:before, *:after {
    box-sizing: inherit;
}

nav {
    flex: 0 0 auto;
    background-color: #373a48 !important;
}

nav .logoHeader {
    height:50px;
    width:auto;
}

.inline {
    display:inline-block;
    float:none !important;
}

.navbar {
    border-radius:0 0 10px 10px !important;
}

.container {
    flex: 1 0 auto;
}

h1 {
    display: none;
}

.btn {
    white-space: normal !important;
}

.btn.navbar-btn {
    padding-top: 5px;
    padding-bottom: 5px;
}

hr {
    margin-left:10%;
    margin-right:10%;
    background-color: #AAA;
    height: 1px !important;
}

table td{
    vertical-align:middle!important;
    text-align:center;
}

table a {
    color:#333;
}

footer {
    background-color: #373a48;
    color:white;
    border-radius:10px 10px 0 0;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

footer a {
    color:#d2d1d1;
    text-decoration: none;
}

footer a:hover, footer a:focus {
    text-decoration: none;
    color:white;
}

footer .copyright {
    background-color: #383737;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
}

footer .copyright p {
    margin:10px;
    color: #ccc;
}


.game {
    display:block;
}

.game span{
    position:relative;
    bottom:35px;
    left:5px;
}

.game img {
    height: 80px;
    width: 80px;
}