</div>
<footer>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <h5>Découvrir</h5>
                <ul>
                    <li><a href="/index">Accueil</a></li>
                    <li><a href="/auth/login">Se connecter</a></li>
                    <li><a href="/auth/signin">S'enregistrer</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Copyright - <%= locals.appname %> - <a href="http://www.enssat.fr/">Enssat</a> </p>
        </div>
    </div>
</footer>
</body>
</html>