<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="fr-fr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gestionnaire de jeux">
    <meta name="author" content="Porhiel Clément & Dorian Souleyreau" />
    <meta name="keywords" content="games snake shifumi" />
    <link type="image/x-icon" rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%= locals.appname %></title>
</head>
<body>

<% /*if (locals.user) {
    const user = locals.user
}*/ %>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navcol-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/index"><img class="logoHeader" src="/images/logo.png"/></a>
            <a class="navbar-brand inline" href="/index"><%= locals.appname %></a>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li><a href="/index">Accueil</a></li>
                <% if (typeof(user) !== 'undefined') { %>
                    <li><a href="/game">Vos Jeux</a></li>
                    <li><a href="/game/scores">Vos scores</a></li>
                <% } %>
            </ul>
            <% if (typeof(user) === 'undefined') { %>
                <a class="btn btn-warning action-button connect active navbar-btn navbar-right" href="/auth">Authentification</a>
            <% } else { %>
                <a class="btn btn-danger action-button user active navbar-btn navbar-right fa fa-sign-out" style="padding-top:8px; padding-bottom:8px;" href='/auth/logout'>

                </a>
                <a class="btn btn-warning action-button user active navbar-btn navbar-right" href='/board'>
                    <%= user._firstname + ' ' + user._name %>
                </a>

            <% } %>
        </div>
    </div>
</nav>
<div class="container col-xs-10 col-sm-7 col-md-6 col-lg-5">
