<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shifumi - <%= locals.appname %></title>
    <link rel="stylesheet" href="/css/shifumi.css" />
    <script>const user = "<%= user._login%>" </script>
    <script src="/script/shifumi.js" defer></script>
</head>
<body>
<p>Pour quitter, appuyez sur Echap</p>
<div class="selections">
    <button class="selection" data-selection="rock">✊🏿</button>
    <button class="selection" data-selection="paper">✋🏻</button>
    <button class="selection" data-selection="scissors">🖖</button>
</div>
<div class="results">
    <div>
        You
        <span class="result-score" data-your-score>0</span>
    </div>
    <div data-final-column>
        Computer
        <span class="result-score" data-computer-score>0</span>
    </div>
</div>
</body>
</html>