<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>Snake - <%= locals.appname %></title>
    <link rel="stylesheet" href="/css/snake.css" />
    <script>const user = "<%= user._login%>" </script>
    <script src="/script/snake.js" defer></script>
</head>
<body id="game" class="noClass">
<h1>SNAKE</h1>
<canvas width="900" height="600"></canvas>
</body>
</html>
